.Navbar-logo {
  width: 100px;
  height: auto;
  /* margin-right: 60px; */
}

.Navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center; /* Align items vertically */
  margin: 0; /* Remove default margin */
  padding: 0 100px;
}

.Navbar-Items a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.02em;
  transition: 0.3s;
}

.Navbar-Items a:hover {
  text-decoration: underline;
}
